<h1>My Portfolio</h1>

<%= render "pages/account_balance" %>

<table class="table-users">
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @stocks.any? %>
      <% @stocks.each do |stock| %>
        <tr>
          <td><%= stock.company_name %></td>
          <td><%= stock.quantity %></td>
          <td>
            <%= link_to "Sell", input_quantity_path(transaction_type: "Sell", symbol: stock.company_name)%>
          </td> 
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="8" class="text-center py-4 text-gray-600">No stocks yet</td>
      </tr>
    <% end %>      
  </tbody>
</table>