<div id="pending">
  <div class="pending-container">
    <div class="pending-heading">Account Pending</div>
    <div class="pending-content">
      <p>Dear <strong><%= current_user.first_name %></strong>,</p> <br >

      <p>
        Your account is still being reviewed by our admin team. 
        An email will be sent to you once approval has been finished.
      </p><br >

      <p>
        Thank you for your patience.
      </p><br >
      
      <p>
        If you have more questions, feel free to reach out to our support team.
      </p><br >

      <p>Best regards,<br>
      The Admin Team</p>
    </div>
  </div>
</div>
